body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  body {
    border-style:solid;
    border-width: 1px;
    border-color:rgb(0, 0, 0);
    padding: 5px 50px 0px 50px;
   }

  .sender-column {
    text-align: right;    
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }
